
/* Body styling */
body {
    background-color: #dddddd;
    font-family: 'Trebuchet MS', 'Gill Sans MT', Calibri, 'Gill Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #626262;
    text-align: center;
}

/* Page Title styling */
.page-title{
    margin-top:75px;
} 
.page-title h2{
    margin-bottom: 50px;
    position: relative;
    z-index: 0;
    font-size: 68px;;
    font-weight: 900;
    text-transform: uppercase;
}
.colour-change{
    color: #FA6862;
}
/* Spacing between the header and details section */
.section-spacing{
    margin-top: 50px;
}
 
/* Spacing between the details section and footer */
.footer-spacing{
    margin-top:200px;
}
